<%= form_for problem do |f| %>
  <%= f.text_field :title, class: 'span8', placeholder: "What is your refactoring problem about?" %>
  <%= f.select :language, language_selector, selected: (@problem.language.blank? ? :text : @problem.language) %>
  <%= f.text_area :body, class: 'problem-body span8' %>
  <div class="bordered-unit" style="padding:3px;">
    <div id="problem-body" class="code-editor"></div>
  </div>
  <h4>Tags <small>tag your problem to make it easier to find</small></h4>
  <%= f.text_field :tags_str %>

  <script type="text/javascript">
    $('#problem_title').popover({
      trigger: 'focus',
      title: 'Your Problem Title',
      content: 'Try to use a concise and clear title, this way you are more likely to be noticed!',
      placement: function(tip, ele) {
        var width = $(window).width();
        return width >= 768 ? 'right' :'bottom';
      }
    });

    $('#problem_language').popover({
      trigger: 'focus',
      title: 'Programming Language',
      content: 'Specify a programming language to enable syntax hightlighting and language specific features!',
      placement: function(tip, ele) {
        var width = $(window).width();
        return width >= 768 ? 'right' :'bottom';
      }
    });

    $('#problem-body').popover({
      trigger: 'manual',
      title: 'The Good Stuff',
      content: "This is were your to-be refactored code should go.<br><br>Documenting any unclear or not so obvious parts is a great idea, and will definitely help make it easier to understand and refactor.<br><br>Be sure to specify the language of your code to enable syntax highlighting!",
      placement: function(tip, ele) {
        var width = $(window).width();
        return width >= 768 ? 'right' :'bottom';
      }
    });

    var textarea = $('#problem_body').hide();
    var editor = ace.edit("problem-body");
    editor.setTheme("ace/theme/clouds");
    editor.setShowPrintMargin(false);
    editor.setValue(textarea.val());
    editor.session.setMode("ace/mode/" + $('#problem_language').val());
    editor.on('change', function(){
      textarea.val(editor.session.getValue());
    });
    editor.on('focus', function(){
      $('#problem-body').popover('show');
    });

    editor.on('blur', function(){
      $('#problem-body').popover('hide');
    });

    $('#problem_language').change(function() {
      editor.session.setMode("ace/mode/" + $('#problem_language').val());
    });

    $('#problem_tags_str').tokenInput(
      '<%= tags_problems_path %>',
      { hintText: "Start typing in a tag...",
        theme: "bootstrap",
        tokenLimit: 5,
        preventDuplicates: true,
        allowFreeTagging: true,
        prePopulate: <%= problem.tags.empty? ? 'null' : problem.tags_prepopulate %>
      });

    $('#problem_title').focus();
  </script>

  <% unless user_signed_in? %>
    <div class="sign-in-warning">
      <span class="label label-warning">You are not signed in!</span>
      <span class="muted">To receive alerts and updates as well as participating in user rankings you should sign in first.</span>
    </div>
  <% end %>

  <%= f.submit "Submit Problem", class: 'btn btn-primary btn-large' %>
<% end %>
