<h1>Problems</h1>

<% @problems.each do |problem| %>
  <div id="<%= problem.id %>">
    <h2><%= problem.title %></h2>
    <p><%= problem.description %></p>
    <div id="content-<%= problem.id %>">
      <%= javascript_tag nil, :src => problem.embed_url %>
    </div>
  </div>
<% end %>
