<div class="row">
  <div class="span9">
    <h3>Top Problems</h3>

    <% @problems.each do |problem| %>
      <div class="problem-row">
        <div class="stats-box pull-left">
          <div class="problem-votes">
            <%= link_to '<i class="icon-thumbs-down icon-large rating-vote-icon"></i>'.html_safe, down_vote_problem_path(problem), remote: true, method: :put %>
            <span id="rating-<%= problem.id %>" class="problem-rating"><%= problem.rating %></span>
            <%= link_to '<i class="icon-thumbs-up icon-large rating-vote-icon"></i>'.html_safe, up_vote_problem_path(problem), remote: true, method: :put %>
          </div>
          <div class="problem-views">
            <%= problem.views %><br>views
          </div>
        </div>
        <div id="<%= problem.id %>" class="problem-content pull-left clearfix">
          <h4><%= link_to problem.title, problem %></h4>
          <span class="problem-info">Posted by <% if problem.user %><strong><%= link_to problem.user.nickname, user_path(problem.user)  %><% else %>Anonymous<% end %></strong> <span class="muted"><%= time_ago_in_words(problem.created_at) %> ago</span></span>
          <ul class="tag-list">
            <% problem.tags.each do |tag| %>
              <li class="tag-list-token"><%= tag %></li>
            <% end %>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>

  <div class="span3">
    <div class="bordered-unit">
      sidebar
    </div>
  </div>
</div>
