<h1 class="problem-title"><%= @problem.title %></h1>
<div class="row">
  <div class="span9">
    <div id="problem-content" class="code-editor"><%= @problem.body %></div>

    <script type="text/javascript">
      var editor = ace.edit("problem-content");
      editor.setReadOnly(true);
      editor.setHighlightActiveLine(false);
      editor.setTheme("ace/theme/clouds");
      editor.setShowPrintMargin(false);
      editor.session.setMode("ace/mode/<%= @problem.language %>");
      var height = editor.session.getDocument().getLength() * editor.renderer.lineHeight + editor.renderer.scrollBar.getWidth();
      $('#problem-content').height(height);
      editor.resize();
    </script>

    <div class="problem-actions pull-left">
      <% if user_signed_in? && @problem.user == current_user %>
        <%= link_to 'edit', edit_problem_path(@problem), class: 'edit-problem' %>
      <% end %>
    </div>

    <div class="problem-author pull-right">
      Asked by <strong><%= @problem.user ? link_to(@problem.user.display_name, user_path(@problem.user)) : 'Anonymous' %></strong> <span class="muted"><%= time_ago_in_words(@problem.created_at) %> ago</span>
    </div>
    <div class="problem-end clearfix"></div>

    <div class="problem-comments">
      <%= render partial: 'comments/comment', collection: @problem.comments %>
      <% if user_signed_in? %>
        <%= render partial: 'comments/problem_form', locals: { problem: @problem, comment: @problem.comments.new } %>
        <div class="add-comment pull-right"><button id="problem-comments-form-show" class="btn btn-mini">Add comment...</button></div>
        <div class="clearfix"></div>
        <script type="text/javascript">
          $('#problem-comments-form-show').click(function() {
            $('#problem-comments-form').show();
            $('#problem-comments-form-show').hide();
          });
        </script>
      <% else %>
        <div class="add-comment"><small><%= link_to 'Sign in to comment...', sign_in_path %></small></div>
      <% end %>
    </div>

    <div class="solutions-frame">
      <% unless @problem.solutions.empty? %>
        <h1 class="solutions-title"><%= @problem.solutions.count %> Solutions</h1>
        <%= render partial: 'solutions/solution', collection: @problem.solutions.desc(:rating) %>
      <% end %>
    </div>

    <div class="new-solution-frame">
      <%= render partial: 'solutions/form', locals: { problem: @problem, solution: @problem.solutions.new, title: 'Submit a Solution' } %>
    </div>
  </div>

  <div class="span3">
    <div class="problem-info">
      <h5>Problem Info</h5>
      <div class="problem-votes">
        <% if @voted == false %>
          <%= link_to '<i class="icon-thumbs-up icon-large rating-vote-icon"></i>'.html_safe, up_vote_problem_path(@problem), remote: true, method: :put %>
          <span id="rating-<%= @problem.id %>" class="problem-rating"><%= @problem.rating %></span>
          <%= link_to '<i class="icon-thumbs-down icon-large rating-vote-icon"></i>'.html_safe, down_vote_problem_path(@problem), remote: true, method: :put %>
        <% else %>
          <i class="icon-thumbs-up icon-large rating-vote-icon<%= @voted == 'up_vote' ? ' voted' : '' %>"></i>
          <span id="rating-<%= @problem.id %>" class="problem-rating"><%= @problem.rating %></span>
          <i class="icon-thumbs-down icon-large rating-vote-icon<%= @voted == 'down_vote' ? ' voted' : '' %>"></i>
        <% end %>

        <div class="problem-rating-meter progress">
          <% up_percent = @problem.up_votes.to_f / (@problem.down_votes + @problem.up_votes) * 100 %>
          <div class="bar bar-success" style="width: <%= up_percent %>%;"></div>
          <div class="bar bar-danger" style="width: <%= 100 - up_percent %>%;"></div>
        </div>
      </div>

      <div class="problem-language">
        <h5>Language</h5>
        <%= link_to @problem.language, problems_path(q: "lang:#{@problem.language}") %>
      </div>

      <ul class="tag-list-new-line">
        <% @problem.tags.each do |tag| %>
          <li class="tag-list-token-new-line pull-left"><%= link_to tag, problems_path(tags: tag) %></li>
          <li class="tag-count"> x <%= Problem.where(:tags.in => [tag]).count %></li>
          <li class="clearfix"></li>
        <% end %>
      </ul>
    </div>

    <div class="problem-stats">
      <p><span class="pull-left" style="width:60px">Asked</span> <strong><%= time_ago_in_words @problem.created_at %> ago</strong></p>
      <p><span class="pull-left" style="width:60px">Viewed</span> <strong><%= @problem.views %> times</strong></p>
    </div>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50b3b35b064fce87"></script>
    <!-- AddThis Button END -->
  </div>
</div>
