<h1 class="solutions-title"><%= title %></h1>
<%= form_for [problem, solution] do |f| %>
  <div class="bordered-unit" style="padding:3px;margin-bottom:15px;">
    <div id="solution-body" class="code-editor"></div>
  </div>
  <%= f.text_area :body, class: 'solution-body', id: "solution-body-#{solution.id}" %>
  <script type="text/javascript" >
    var textarea = $('#solution-body-<%= solution.id %>').hide();
    var editor = ace.edit("solution-body");
    editor.setTheme("ace/theme/xcode");
    editor.setShowPrintMargin(false);
    editor.setValue(textarea.val());
    editor.session.setMode("ace/mode/<%= problem.language %>");
    if (textarea.val()) {
      var height = editor.session.getDocument().getLength() * editor.renderer.lineHeight + editor.renderer.scrollBar.getWidth();
      $('#solution-body').height(height);
    }
    editor.on('change', function(){
      textarea.val(editor.session.getValue());
    });
    editor.resize();
  </script>

  <% unless user_signed_in? %>
    <div class="sign-in-warning">
      <span class="label label-warning">You are not signed in!</span>
      <span class="muted">To participate in user rankings you should sign in first.</span>
    </div>
  <% end %>

  <%= f.submit "Submit Solution", class: 'btn btn-primary btn-large' %>
<% end %>
