<div class="row">
  <div class="span9">
    <div id="solution-<%= solution.id %>" class="solution-row">
      <div class="row">
        <div class="span1">
          <div class="solution-problem-votes">
            <%= link_to '<i class="icon-thumbs-up icon-large rating-vote-icon"></i>'.html_safe, up_vote_problem_solution_path(solution.problem, solution), remote: true, method: :put %><br>
            <span id="solution-rating-<%= solution.id %>" class="solution-problem-rating"><%= solution.rating %></span><br>
            <%= link_to '<i class="icon-thumbs-down icon-large rating-vote-icon"></i>'.html_safe, down_vote_problem_solution_path(solution.problem, solution), remote: true, method: :put %>
          </div>
        </div>

        <div class="span8 solution-content">
          <div id="solution-content-<%= solution.id %>" class="code-editor"><%= solution.body %></div>

          <script type="text/javascript">
            var editor = ace.edit("solution-content-<%= solution.id %>");
            editor.setReadOnly(true);
            editor.setHighlightActiveLine(false);
            editor.setTheme("ace/theme/clouds");
            editor.setShowPrintMargin(false);
            editor.session.setMode("ace/mode/<%= solution.problem.language %>");
            var height = editor.session.getDocument().getLength() * editor.renderer.lineHeight + editor.renderer.scrollBar.getWidth();
            $('#solution-content-<%= solution.id %>').height(height);
            editor.resize();
          </script>

          <div class="solution-actions pull-left">
            <a href="#">share</a> | 
            <% if user_signed_in? && solution.user == current_user %>
              <%= link_to 'edit', edit_problem_solution_path(solution.problem, solution), remote: true, class: 'edit-solution' %> | 
            <% end %>
            <a href="#">report</a>
          </div>

          <div class="solution-author pull-right">
            Answered by <strong><%= solution.user ? link_to(solution.user.display_name, user_path(solution.user)) : 'Anonymous' %></strong> <span class="muted"><%= time_ago_in_words(solution.created_at) %> ago</span>
          </div>
          <div class="solution-end clearfix"></div>
        </div>

      </div>

      <div class="solution-comments">
        <%= render partial: 'comments/comment', collection: solution.comments %>
        <% if user_signed_in? %>
          <%= render partial: 'comments/solution_form', locals: { problem: solution.problem, solution: solution, comment: solution.comments.new } %>
          <div class="add-comment pull-right"><button id="problem-comments-form-show-<%= solution.id %>" class="btn btn-mini">Add comment...</button></div>
          <div class="clearfix"></div>
          <script type="text/javascript">
            $('#problem-comments-form-show-<%= solution.id %>').click(function() {
                $('#problem-comments-form-<%= solution.id %>').show();
                $('#problem-comments-form-show-<%= solution.id %>').hide();
                });
</script>
        <% else %>
          <div class="add-comment"><small><%= link_to 'Sign in to comment...', sign_in_path %></small></div>
        <% end %>
      </div>

    </div>
  </div>
</div>
