<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "refactr.it" %></title>

    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36672254-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>

    <% if false %>
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
    <% end %>
  </head>
  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'refactr.it', root_path, class: 'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li<%= params[:controller] == 'problems' && params[:action] == 'index' ? ' class="active"'.html_safe : '' %>><%= link_to "Problems", problems_path %></li>
              <li<%= params[:controller] == 'problems' && params[:action] == 'new' ? ' class="active"'.html_safe : '' %>><%= link_to "Submit a Problem", new_problem_path %></li>
              <li<%= params[:controller] == 'users' && params[:action] == 'index' ? ' class="active"'.html_safe : '' %>><%= link_to "Users", users_path %></li>
            </ul>

            <ul class="nav pull-right">
              <li>
              <%= form_tag problems_path, method: :get, class: 'form-search', style: 'padding:5px;margin:0;' do %>
                <div class="input-append">
                  <%= text_field_tag :q, nil, class: 'span2 search-query', placeholder: 'Search...' %>
                  <button type="submit" class="btn" style="margin-top:0;"><i class="icon-search"></i></button>
                </div>
              <% end %>
              </li>
              <li class="divider-vertical"></li>
              <% if user_signed_in? %>
                <li><%= link_to current_user.nickname, current_user %>
                <li class="divider-vertical"></li>
                <li><%= link_to "Sign Out", sign_out_path  %></li>
              <% else %>
                <li><%= link_to 'Sign in', sign_in_path %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->

    <footer class="footer">
    <div class="container">
      <p class="pull-right"><a href="#">Back to top <i class="icon-arrow-up"></i></a></p>
      <p>Built and designed by Nan Zhong.</p>
      <p>Copyright &copy; refactr.it 2012. User contributions licensed under cc-wiki with attribution required.</p>
    </div>
    </footer>

    <!-- UserVoice widget -->
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/OiDDQOpwCoYZzVErzig.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
  </body>
</html>
